{
  "include": [
    "src/**/*.js"
  ],
  "exclude": [
    "src/**/*.spec.js",
    "dist",
    "flow",
    "flow-typed",
    "scripts",
    "test",
    "config",
    "src/flowTypes.js",
    "docs",
    "stories",
    "src/**/_stories.js",
    "webpack.config.js",
    ".storybook",
    ".postcssrc.js",
    ".eslintrc.js"
  ],
  "require": [
    "babel-register"
  ],
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "sourceMap": false,
  "instrument": false,
  "cache": true,
  "all": true,
  "check-coverage": false
}
